body {
    font-family: Arial, sans-serif;
    background-image: url('public/imagenes/casainicio.png');  
    background-size: cover;  
    background-position: center;  
    margin: 0;
    padding: 0;
}

.center {
    text-align: center;
    margin-top: 50px;
}

h1 {
    color: #fff;  
}

input[type="submit"] {
    background-color: rgba(241, 235, 213, 0.8);  
    color: #424242;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

input[type="submit"]:hover {
    background-color: rgba(168, 180, 192, 0.8); 
}


