body {
    font-family: Arial, sans-serif;
    background-color: #fdfdfd;
    margin: 0;
    padding: 0;
}

.center {
    text-align: center;
    margin-top: 50px;
}

h1 {
    color: #333;
}

input[type="submit"] {
    background-color: #f1ebd5;
    color: #424242;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

input[type="submit"]:hover {
    background-color: #a8b4c0;
}
