.container { display: flex; 
    justify-content: 90px; /* Centra el contenido horizontalmente */ 
    align-items: center; /* Centra el contenido verticalmente si es necesario */
}
header { position: relative; top: -50px; /* Mueve el contenido más hacia arriba */ 
}
h1 {
    color: #0e404d;
    font-size: 3.3em;
    margin: 0;
}

body {
    font-family: 'Times New Roman', Times, serif;
    background-image: url('../../public/imagenes/imagen2.png');
    background-size: 500px 300px; /* Ajusta el tamaño a 800px por 600px */ 
    background-repeat: no-repeat; /* La imagen no se repetirá */ 
    background-position: 
    center; /* Centra la imagen */
    background-size: cover;
    background-position: center;
    margin: 100;
    padding: 100;
    height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
}

 button[type="button"] {
    background-color: #f1ebd5;
    color: #424242;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.inicio {
    text-align: center;
    background-color: #ECF0F1;
    border: 2px solid transparent;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 200;
    padding: 10px 0;
    width: 300px;  
    transition: border .5s;
}


     
.formulario { background-color: rgba(255, 255, 255, 0.8); /* Fondo blanco semitransparente */
     padding: 20px; 
     border-radius: 5px; 
     box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); 
     margin-top: 20px; z-index: 2; /* Asegúrate de que el formulario esté por encima de la imagen */ 
    position: relative;
}


/* Estilos generales para los inputs */
.etiqueta {
    width: 100%; 
    padding: 10px; 
    margin-bottom: 15px; 
    border: 2px solid #ccc; 
    border-radius: 8px; 
    font-size: 16px;
    background-color: #f9f9f9; 
    box-sizing: border-box; 
    transition: all 0.3s ease; 
  }

  /* Estilo cuando el input está enfocado */
  .etiqueta:focus {
    border-color: #4CAF50; /* Cambia el color del borde a verde cuando está enfocado */
    background-color: #e8f5e9; /* Cambia el fondo a un verde claro */
    outline: none; /* Elimina el borde de enfoque predeterminado */
  }

  /* Estilos para los labels */
  label {
    font-size: 14px; /* Tamaño de fuente más pequeño para las etiquetas */
    color: #333; /* Color oscuro para el texto */
    margin-bottom: 5px; /* Espacio debajo de la etiqueta */
    display: block; /* Hace que la etiqueta ocupe toda la línea */
  }