* {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .menu-nav {
    background-color: rgb(163, 221, 220);
    height: 12vh;
    margin-top: -20px; /* Subimos el menú un poco */
    padding-left: 30px; /* Aumentamos el padding izquierdo */
    padding-right: 30px; /* Aumentamos el padding derecho */
    width: calc(100% + 60px); /* Aumentamos el ancho total considerando el padding */
    margin-left: -30px; /* Compensamos el margen izquierdo */
    padding-bottom: 10px; /* Ajustamos el padding inferior */
    
}
  
  
  .nav {
  height: 15vh;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  place-items: center;
  }
  
  .nav span {
    color: rgb(0, 225, 225);
    font-size: 3rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  
  .nav .titulo {
    font-size: 2.7rem;
    color: azure;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 100;
  }
  
  .menu {
    height: 40px;
    width: 50px;
    border: 2px solid rgb(21, 6, 48);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    transition: 300ms ease-in-out;
    cursor: pointer;
    position: absolute;
  top: 10px; 
  right: 10px;
  
  }
  
  .menu:hover {
    background-color:rgb(83, 79, 82);
  }
  
  .bar {
    height: 3px;
    width: 40px;
    background-color:  rgb(22, 35, 35);
    border-radius: 5px;
    transition: 200ms ease-in-out;
  
  }
  
  .menu.active .bar:nth-last-child(1) { 
    transform: translateY(-11px) rotate(-45deg);
    
  }
  
  .menu.active .bar:nth-last-child(2) { 
    opacity: 0;
    
  }
  
  .menu.active .bar:nth-last-child(3) { 
    transform: translateY(11px) rotate(45deg);
    
  }
  
  
  .menu_desplegable {
    height: 20vh;
    width: 33vw;
    background-color: rgba(163, 221, 220);
    display: grid;
    place-items: center;
    transform: translateX(100vw);
    transition: 300ms ease-in-out;

    position: fixed; /* Esto asegura que el elemento esté posicionado en relación con la ventana del navegador */
    z-index: 999; /* Esto coloca el elemento sobre todos los demás */
   
  }
  
  .click {
    transform: translateX(67vw);
  
  }
  
  .nav_link {
    width: 33vw;
    height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 20%;
    
  
  }
  
  .link {
    color: azure;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.3rem;
    width:100% ;
    text-align: center;
    
    
  }
  
  .link:hover {
    background-color:rgb(13, 16, 16);
    cursor: pointer;
    color: rgba(0, 0, 0, 0.311);
  
  }
  
.sliders-container {

    margin-top: 10px;
}

    .link a {
        text-decoration: none; /* Para quitar cualquier subrayado del enlace */
        border: none; /* Para quitar cualquier borde del enlace */
        color: rgb(105, 6, 110);
    }
   

.logo {
  position: absolute;
  top: 10px;
  left: 10px;
  
}

.menu_desplegable2 {
  height: 20vh;
  width: 33vw;
  background-color: rgba(163, 221, 220);
  display: grid;
  place-items: center;
  transform: translateX(100vw);
  transition: 300ms ease-in-out;

  position: fixed; /* Esto asegura que el elemento esté posicionado en relación con la ventana del navegador */
  z-index: 999; /* Esto coloca el elemento sobre todos los demás */
 










  
}
.menu2 {
  height: 40px;
  width: 50px;
  border: 2px solid rgb(21, 6, 48);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  transition: 300ms ease-in-out;
  cursor: pointer;
  position: absolute;
top: 29px; 
right: 10px;

}

.menu-nav2 {
  background-color: rgb(163, 221, 220);
  height: 9.9vh;
  margin-top: -20px; /* Subimos el menú un poco */
  padding-left: 30px; /* Aumentamos el padding izquierdo */
  padding-right: 30px; /* Aumentamos el padding derecho */
  width: calc(100% + 60px); /* Aumentamos el ancho total considerando el padding */
  margin-left: -30px; /* Compensamos el margen izquierdo */
  padding-bottom: 10px; /* Ajustamos el padding inferior */
  
}

.nav2 {
  height: 15vh;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  place-items: center;
  }