.logo { width: 50px; /* Ajusta el tamaño de la imagen */ height: auto; /* Mantiene la proporción de la imagen */
     position: absolute; /* Posiciona la imagen de manera absoluta */ 
     top: 10px; /* Ajusta la distancia desde la parte superior */
      left: 10px; /* Ajusta la distancia desde el lado izquierdo */ }

.s {
    position: relative; /* Necesario para mover el contenido con top y right */
}

.s a {
    color: #1c6679;
    position: absolute; /* Posiciona el enlace de manera absoluta respecto a su contenedor */
    top: -40px; /* Mueve el enlace hacia arriba (ajusta el valor según sea necesario) */
    right: 80px; /* Mueve el enlace hacia la derecha (ajusta el valor según sea necesario) */
}
